In [15]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

import pickle

from get_data import get_data

In [2]:
df = get_data("../archive/recipes_data_small.csv")
df.head()

,title,ingredients,directions
0,No-Bake Nut Cookies,"[""1 c. firmly packed brown sugar"", ""1/2 c. eva...","[""In a heavy 2-quart saucepan, mix brown sugar..."
1,Jewell Ball'S Chicken,"[""1 small jar chipped beef, cut up"", ""4 boned ...","[""Place chipped beef on bottom of baking dish...."
2,Creamy Corn,"[""2 (16 oz.) pkg. frozen corn"", ""1 (8 oz.) pkg...","[""In a slow cooker, combine all ingredients. C..."
3,Chicken Funny,"[""1 large whole chicken"", ""2 (10 1/2 oz.) cans...","[""Boil and debone chicken."", ""Put bite size pi..."
4,Reeses Cups(Candy),"[""1 c. peanut butter"", ""3/4 c. graham cracker ...","[""Combine first four ingredients and press in ..."

In [3]:
vectorizer = TfidfVectorizer() # Important note here: there are many default parameters that do not show in this call.
X = vectorizer.fit_transform(df['directions'])

In [4]:
X.shape

(700000, 22093)

In [11]:
query = 'atomic bomb'
query = vectorizer.transform([query])
query = query.toarray()
R = X @ query.T

In [12]:
R = R.flatten()
R = np.argsort(R)[::-1]
R = R[:10]
R

array([354965,     15,     14,     13,     12,     11,     10,      9,
            8,      7])

In [13]:
df.iloc[R]['title']

354965    Brief History Of The Sourdough Pot(By Barton C...
15                                     Fresh Strawberry Pie
14                             Pink Stuff(Frozen Dessert)
13                                      Taco Salad Chip Dip
12                                     Quick Barbecue Wings
11                                            Buckeye Candy
10                                    Double Cherry Delight
9                                           Millionaire Pie
8                                      Nolan'S Pepper Steak
7                                            Scalloped Corn
Name: title, dtype: object

In [20]:
with open('../models/model_vec.pkl', 'wb') as f:
    pickle.dump(vectorizer, f)

In [21]:
with open('../models/model_X.pkl', 'wb') as f:
    pickle.dump(X, f)

In [22]:
with open('../models/model_vec.pkl', 'rb') as f:
    vec = pickle.load(f)

with open('../models/model_X.pkl', 'rb') as f:
    Y = pickle.load(f)

In [25]:
R = Y @ query.T
R = R.flatten()
R = np.argsort(R)[::-1]
R = R[:10]
R

array([354965,     15,     14,     13,     12,     11,     10,      9,
            8,      7])